// Color
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$darkGrayishRed: hsl(0, 6%, 24%);
$babyPink: hsl(0, 74%, 74%);
$lightPink: hsl(0,80%,86%);

$fontFamily: 'Josefin Sans', sans-serif;
